*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

body{
    background-color: black;
    color: white;
}

.left{
    height: 100vh;
    background-color: black;
    position:relative;
}

.home{
    height: 15vh;
    width: 22vw;
}
.library{
    min-height: 77vh;
    width: 22vw;
}

.home ul li{
    display: flex;
    width: 20px ;
    gap: 15px;
    list-style: none;
    padding-top: 15px;
}

.lib{
    padding: 2px;
    display: flex;
    gap: 15px;
    white-space: nowrap; /*unwrap the text into one line*/
    align-items: center;
}

.your-library{
    font-size:medium;
    display: flex;
    gap: 15px;
    padding: 2px;
    position: relative; 
    align-items: center;
    justify-content: start;
    left: 0.1vw;
    border: 2px solid transparent;
    cursor: pointer;
    opacity: 0.5;
}

.your-library:hover{    
    opacity: 1;
}

.your-library img{
    width: 1.5vw;
}

.playlist{
    position: relative;
    left: 9vw;
    border: 2px solid transparent;
    cursor: pointer;
    opacity: 0.5;
}

.playlist:hover{
    opacity: 1;
}

.playlist img{
    width: 1.5vw;
}

.library-footer{
    position: absolute;
    bottom: 5vh;
    font-size: 10px;
    gap: 20px;
    display: flex;
}

.library-footer div{
    width: 2.5vw;
}

.library-footer a{
    color: rgb(151, 151, 151);
}

/* Right Container is now being modified */

.right{
    height: 100vh;
    background-color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 16px 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #090909;
    display: flex;
    position: absolute;
    width: 72vw;
    height: 12vh;
    justify-content: space-between;
    /* align-items: center; */
    padding: 15px;
    margin: 5px;
}


.arrow button{
    padding: 8px;
    margin: 2px;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background-color: rgb(0 0 0 / 70%);
    border: none;
}

.signin{
    display: flex;
    gap: 10px;
    position: relative;
    right: 30px;
    justify-items: center;
}

.signup{
    padding: 8px 32px;
}

.signup button{
    color: white;
    background-color: black;
    height: 8vh;
    width: 7vw;
    border-radius: var(--encore-button-corner-radius,9999px);
    border: none;
}

.login{
    padding: 8px;

}
.login button{
    color: black;
    background-color: white;
    height: 8vh;
    width: 7vw;
    border-radius: var(--encore-button-corner-radius,9999px);
    border: none;

}

.spotifyPlaylists {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 72vw;
    height: 82vh;
    padding: 15px;
    margin: 5px;
    position: relative;
    top: 12vh;
}

.cardContainer{
    height: 75vh;
    display: flex;
    column-gap: 1.8vw;
    row-gap: 15vh;
    padding: 5px;
    margin-top: 15px;
    flex-wrap: wrap;
    overflow-y:auto;  /*to make the scrool bar for playlist*/
}

.cardContainer::-webkit-scrollbar { /*to hide the scrollbar in the card Container*/
    display: none;
}

.card{
    width: 10vw;
    height: 10vw;
    position: relative;
    cursor: pointer;
}

.car:hover{
    background-color: rgba(0,0,0,0.5);
}

.card img{
    width: 23vh;
    height: 23vh;
    border-radius: 50%;
    object-fit: cover; 
    object-position: center;
}

.play-button{
    display: flex;
    background-color: #1ed760;
    border-radius: 50%;
    position: absolute;
    padding: 4px;
    width: 3vw;
    height: 3vw ;
    right: 0.2vw;
    bottom: 0;
    align-items:center;
    justify-content: center;
    
    opacity: 0;
    bottom: -30px;
    transition: all 0.3s ease-out;
}
.card:hover .play-button{
    opacity: 1;
    bottom: 0;
}
.play-button img{
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    left: 10px;

}

